@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Página Despedida";
}

<h1>Hoy el usuario con ID: @ViewBag.Id cumple @ViewBag.Age años</h1>
<ul>
    @for (int i = 0; i < ViewBag.Age; i++)
    {
        <li><a asp-controller="Saludos" asp-action="Index">Felicidades @ViewBag.Name</a></li>
    }
</ul>